.textGradient{
    font-size: 3em;
    background: #3d75ed;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
   
  }
  .panel{
    /* background: linear-gradient(to right bottom,
    #1e1e1e,
    black,
    #2E2A34,
    black,
    #1e1e1e); */
    border-radius: 15px !important;
    background-color: #17121F !important;
    display: flex;
    justify-content: space-between !important;
    
  }