.container{
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25;
    padding: 40;
    
}
.row{
    background-color: #16171a;
    cursor: pointer;
    
}
.row:hover{
    background-color: "#131111";
}
.pagination{
    color: gold;
}